body{
    padding-top: 100px;
    margin: 0;
    user-select: none;

}

/*Barra de Navegacion*/

.nav_back{
    background-color: #124778;
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
}

.nav_back a, h1{
    margin-left: 40px;
    font-size: 50px;
    font-style: italic ;
    cursor: default;
    text-decoration: none;
    color: white;
}

.navegation{
    display: flex;
    justify-content: center;
    width: 100%;
}

.windows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 5%;
}

.nav_link{
    display: inline-block;
    padding: 20px;
    font-size: 30px;
}

.user_icon{
    color: rgb(255, 255, 255);
    position:absolute;
    right: 40px;
    top: 20px;
    font-size: 60px;
}


.nav_link:hover{
    transition: 2s;
    text-decoration: underline;
    cursor: pointer;
}

/*Seccion1*/

.section1{
    height: 200px;
    border: solid 1px black;
    display: flex;
    align-items: center;
}

/*parte1*/

.part1 .video1{
    height: 180px;
    width: 400px;
    padding: 10px;
    border-radius: 30px;
}

/*parte2*/

.part2{
    border: 1px solid black;
    border-radius: 30px;
    height: 85%;
    width: 80%;
    margin-left: 50px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-style: italic;
    color: #124778;
}

.container{
    margin-left: 50px ;
    margin-right: 20px;
    width: 100%;
}

.searching_back{
    width: 100%;
}

.flight_searching{
    width: 100%;
}

.flight_searching, .search_bar{
    display: flex;
    width: 70%;
}

.search_bar{
    height: 40px;
    width: 600px;
    border: solid 2px rgb(159, 153, 153);
    padding: 10px;
    font-size: 20px;
}


.labels{
    margin-left: 10px;
}

.search_button{
    position: static;
    right: 115px;
    top: 197px;
}

.button{
    color: black;
    font-size: 20px;
    height: 40px;
    width: 150px;
    margin-top: 10px;
}

/*section2*/

.section2{
    width: 100%;
    height: 70vh;
    border-bottom: solid 1px black;
    display: flex;
}

.part3{
    width: 25%;
    height: 100%;
    border-right: solid 1px black;
}

.local_info{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
    padding-left: 5%;
}

.local_info, li{
    padding-block: 20px;
    font-size: 25px;
    list-style: none;
    margin: 0%;
}

.video2{
    border-radius: 20px;
    margin-left: 10px;
    width: 400px;
}

/*part4*/

.part4{
    /**background-color: black;*/
    width: 75%;
    margin-left: 10px;
}

.container2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tickets{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.tickets, .destinations{
    padding: 10px;
    border-radius: 30px;
    alt: 100px;
    width: 600px;
}
