body{
    padding-top: 100px;
    margin: 0;
    user-select: none;

}

/*Barra de Navegacion*/

.nav_back{
    background-color: #124778;
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
}

.nav_back a, h1{
    margin-left: 40px;
    font-size: 50px;
    font-style: italic ;
    cursor: default;
    text-decoration: none;
    color: white;
}

.navegation{
    display: flex;
    justify-content: center;
    width: 100%;
}

.windows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 5%;
}

.nav_link{
    display: inline-block;
    padding: 20px;
    font-size: 30px;
}

.user_icon{
    color: rgb(255, 255, 255);
    position:absolute;
    right: 40px;
    top: 20px;
    font-size: 60px;
}


.nav_link:hover{
    transition: 2s;
    text-decoration: underline;
    cursor: pointer;
}

/*Seccion1*/

.section1{
    border-bottom: solid 2px black;
    padding: 20px;
    display: flex;
}

